body  {
    background-image: url("http://www.pptback.com/uploads/abstract-paper-backgrounds-powerpoint.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Enriqueta;
    font-size: 22px;
    padding: 10px 0;
    text-align: center;
}

.jh-navlist{
    display: inline;
}
#jh-navbar {
    margin: 8px auto;
    text-align: center;
    border: 1px solid #111;
    border-radius: 25px;
    background-color: chocolate;
    font-family: 'Roboto Mono', monospace;
}
.jh-items{
    display: inline;
    padding: 8px;
    background-color: #ffffff;
    text-decoration: none;
    color: chocolate;
    border-radius: 25px;
    font-family: 'Roboto Mono', monospace;
}
.jh-items:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}
.jh-items:active{
    background-color: rgb(114, 108, 108);
    color: #ffffff;
}