body  {
    background-image: url("http://www.pptback.com/uploads/abstract-paper-backgrounds-powerpoint.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Enriqueta;
    font-size: 22px;
    padding: 10px 0;
    text-align: center;
    
}

.jh-navlist{
    display: inline;
}
#jh-navbar {
    margin: 8px auto;
    text-align: center;
    border: 1px solid #111;
    font-family: 'Roboto Mono', monospace;
}
.jh-items{
    display: inline;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
}
.jh-items:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}
.jh-items:active{
    background-color: rgb(114, 108, 108);
    color: #ffffff;
}

.typewriter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 }


.typewriter h1 {
  text-align: center;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
