body {
    font-family: 'Roboto Mono', monospace;
    }

/* this adds that clean frame to the video */
iframe.lg-video {
    margin: 0 auto;
	border: 10px outset slategray;
}

/* this helps the photos be in line with the captions underneath centered */
#lg-witnessList > li {
    list-style-type: none;
    display: inline-block;
    text-align:center;
    margin:10px 0 0 10px;
}

/* this makes the witness gifs have a border, become circles, and the same size */
#lg-witnessImg {
    border-radius: 50%;
    border: solid;
    width:  100px;
    height: 100px;
}