/* 
We want to see a report of known travel locations for the suspect. It should contain the following components.

List of airports visited.
List of bus terminals visited.
List of cities/villages visited.
Any rental companies known to be used by the suspect. */
#ss-travelReport{
    margin-top: 10px;
}
#ss-travel{
    font-family: 'Roboto Mono', monospace;
    font-size:150%;
    
    
    background-image: url("http://www.pptback.com/uploads/abstract-paper-backgrounds-powerpoint.jpg");
    
}
#ss-airports, #ss-bus, #ss-placesVisited, #ss-rentals{
    list-style-type: none;
}
#ss-airports li {
    
    padding: 10px;
    overflow: auto;
  }
.ss-images {
    width:150px;
    height: 100px;
}

#ss-travelReport{
    display: inline;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
#ss-bus{
    display: inline-flex;
    padding: 20px;
    overflow: auto;
    max-width: 1600px;
}
#ss-bus li{
    padding:20px;
}
.ss-busker{
    
    width:150px;
    height: 100px;
}
.ss-location{
    width:350px;
    height: 200px;
    transform: scale(1.2);
    border-radius:25px;
    opacity:.75
}
#ss-placesVisited li{
    padding:10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-content:center;
}
#ss-dickson{
    margin-top: 10px;
}
.ss-container{
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    align-content:center;
}